.header {
      background-color: $brand;
      .content {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 20px 0;
         @include media ('<=768px') {
            padding: 10px 0;
         }
      }
}

.logo {
   display: inline-block;
}

.call-box {
   .phone {
      color: $light;
      text-decoration: none;
   }
}

.nav {
   padding: 0 20px;
   position: relative;
   z-index: 2;
   @include media ('<=768px') {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: rgb(170, 196, 187);
      transition:all 0.5s ease-in-out;

      //for vertical scroll into the mobile menu
      overflow: auto;

      &.active{
			left: 0;
		}
   }
}

.list {
   display: flex;
   font-size: 18px;
   @include media ('<=768px') {
      display: block;
      padding-top: 60px;
   }
   .item {
      margin: 0 15px;
      @include media ('<=768px') {
         margin-bottom: 20px;
      }
      .link {
         font-family: $Roboto;
         font-weight: 400;
         color: $light;
         text-decoration: none;
         text-transform: uppercase;

         @include media ('<=768px') {
            font-size: 20px;
         }

         position: relative;
         
         @include media ('>=1024px') {
            &::after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 1px;
               background-color: currentColor; 
            
               transform-origin: left center;
               transform: scaleX(0);
               transition: all 0.2s ease-in;
            }
            &:hover {
               &::after {
                  transform: scaleX(1);
               }
            }
         }
      }
      .mobile-title {
         display: none;
         @include media ('<=768px') {
            display: inline-block;
            font-size: 32px;
            font-weight: 700;
         }
      }
   }
}

.burger-menu {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: $light;

   display: none;
   @include media ('<=768px') {
      display: block;
      position: relative;
      z-index: 5;
   }
}