.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;

   &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; //dark upper menu with content
      background-color: $brand;
   }
   .content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      
      @include media ('<=768px') {
         height: 60px;
      }
   }
}

.logo {
   display: inline-block;
   position: relative;
   z-index: 11; //must be greater than .header::before
}

.call-box {
   position: relative;
   z-index: 11; //must be greater than .header::before
   .phone {
      color: $light;
      text-decoration: none;
   }
}

.nav {
   padding: 0 20px;
   position: relative;
   z-index: 11; //on desktop must be greater than .header::before, but on mobile must be less

   @include media ('<=768px') {
      position: fixed;
      z-index: 9; //on mobile must be less to be under the header::before
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: rgb(170, 196, 187);
      transition:all 0.5s ease-in-out;

      //for vertical scroll into the mobile menu
      overflow: auto;

      &.active{
			left: 0;
		}
   }
}

.list {
   display: flex;
   font-size: 18px;
   @include media ('<=768px') {
      display: block;
      padding-top: 100px;
   }
   .item {
      margin: 0 15px;
      @include media ('<=768px') {
         margin-bottom: 20px;
      }
      .link {
         font-family: $Roboto;
         font-weight: 400;
         color: $light;
         text-decoration: none;
         text-transform: uppercase;

         @include media ('<=768px') {
            font-size: 20px;
         }

         position: relative;
         
         @include media ('>=1024px') {
            &::after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 1px;
               background-color: currentColor; 
            
               transform-origin: left center;
               transform: scaleX(0);
               transition: all 0.2s ease-in;
            }
            &:hover {
               &::after {
                  transform: scaleX(1);
               }
            }
         }
      }
      .mobile-title {
         display: none;
         @include media ('<=768px') {
            display: inline-block;
            font-size: 32px;
            font-weight: 700;
         }
      }
   }
}

.burger-menu {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: $light;

   display: none;
   @include media ('<=768px') {
      display: block;
      position: relative;
      z-index: 11; // must be greater than .header::before
   }
}