.intro {
   padding-top: 52px;
   padding-bottom: 100px;
   @include media ('<=768px') {
      padding-top: 30px;
   }

}

.title {
   font-family: $Fira;
   font-weight: 500;
   font-size: 48px;
}

.text {
   font-size: 24px;
}

.btn {
   display: inline-block;
   padding: 14px 20px;
   background-color: $yellow;
   font-family: $Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   text-transform: uppercase;
   color: #fff;
   text-decoration: none;
   border: 1px solid $yellow;
   transition: all 0.3s ease-in;

   @include media ('>=1024px') {
      &:hover {
         background-color: transparent;
         color: $yellow;
      }
   }

}

.slider {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;

   @include media ('<=768px') {
      flex-direction: column;
   }
}

.info {
   width: 50%;
   max-width: 600px;
   padding: 0 60px;
   text-align: center;

   @include media ('<=1200px') {
      padding: 0 40px;
   }
   @include media ('<=1024px') {
      padding: 0 20px;
   }
   @include media ('<=768px') {
      width: 100%;
      margin-bottom: 40px;
   }

   .title {
      margin-bottom: 20px;
   }

   .text {
      margin-bottom: 63px;

      @include media ('<=768px') {
         margin-bottom: 40px;
      }
   }
}

.carousel {
   min-width: 0; // fix because swiper is situated inside the flex element and it may work wrong
   width: 50%;
   @include media ('<=768px') {
      width: 100%;
   }
}

.swiper-container{
   text-align: center;
}

//dots of the carousel may be changed into the swiper.scss
.swiper {
   height: 470px; // for corrected work for swiper
   @include media ('<=768px') {
      height: 500px;
   }
   @include media ('<=580px') {
      height: 470px;
   }
   @include media ('<=480px') {
      height: 380px;
   }
   @include media ('<=414px') {
      height: 340px;
   }
   @include media ('<=375px') {
      height: 305px;
   }
   @include media ('<=350px') {
      height: 265px;
   }

   .swiper-pagination-bullets {
      position: absolute;
      left: calc(100% - 16px);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 11;
      @include media ('<=768px') {
         flex-direction: row;
         justify-content: center;
         top: calc(100% - 16px);
         left: 50%;
         transform: none;
         transform: translateX(-50%);
      }
      
   }
   .swiper-pagination-bullet {
      display: inline-block;
      margin: 0 auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $brand;
      margin-top: 10px;
      @include media ('<=768px') {
         margin: 0 5px;
      }

      &-active {
         width: 16px;
         height: 16px;
      }
   }
}

.under-cards {
   display: flex;
   justify-content: space-between;
   @include media ('<=768px') {
      display: block;
   }
}

.cards {
   width: 50%;
   @include media ('<=768px') {
      width: 100%;
   }

   .list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;

      @include media ('<=768px') {
         margin: 0 auto;
         margin-bottom: 30px;
         padding-top: 40px;
      }
      @include media ('<=480px') {
         display: block;
      }

      .item {
         width: 150px;
         height: 150px;
         flex-shrink: 1;
         margin: 0 25px;
         padding: 20px 15px 10px;

         border: 1px solid #000;
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
         text-align: center;

         cursor: pointer;
         transition: all 0.2s ease-in;

         &:hover {
            @include media ('>1023px') {
               transform: scale(1.25);
            }
         }

         @include media ('<=1200px') {
            margin: 0 20px;
         }

         @include media ('<=1024px') {
            padding: 15px 10px;
            margin: 0 10px;
         }

         @include media ('<=480px') {
            margin: 0 auto;
            margin-bottom: 30px;
         }

         .ico {
            margin-bottom: 10px;
         }

         .documents {
            font-size: 16px;
         }
         
      }

   }

}

.two-links {
   margin: 0 auto;
   align-self: flex-end;
   margin-bottom: 2px;
   width: 50%;
   text-align: center;
   @include media ('<=768px') {
      width: 100%;
   }

   span {
      display: inline-block;
      margin: 0 10px;
      position: relative;
      
      @include media ('>=1024px') {
         &:hover {
            &::after {
               transform: scaleX(1);
            }
         }
      }

      &::after {
         content: '';
         display: inline-block;
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: $dark;

         transition: all 0.2s ease-in;
         transform-origin: left center;
         transform: scaleX(0);
      }

      .link {
         color: $dark;
         text-decoration: none;
      }
      
   }

}